# Environment variables
POSTGRES_USER=sentinel_user
POSTGRES_PASSWORD=sentinel_pass
POSTGRES_DB=sentinel_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

ML_PIPELINE_PORT=8000
PIPELINE_PORT=8001
WATCH_FOLDER_DOCKER=/data/images
WATCH_FOLDER_HOST=../watched-images

DASHBOARD_PORT=8501
DATABASE_URL=postgresql://sentinel_user:sentinel_pass@db:5432/sentinel_db
